*.o
*~
*.gdb
lib*.a
lib*.so

/*.patch
/*.diff
*.rej
*.orig

CVS
.sgbuilt_lib
.sgbuilt_user

/.config
/.oldconfig
/autoconf.h
/ccache
/config.arch
/download
/images
/Kconfig
/linux-2.6.x
/romfs
/staging
/vendors/Kconfig

/config/.config
/config/.config.old
/config/auto.conf
/config/autoconf.h
/config/kconfig/conf
/config/kconfig/mconf

/tools/cksum
/tools/sstrip
/tools/sg-cksum/cksum
/tools/bfin-uclinux-*
/tools/bfin-linux-uclibc-*
